node_name = "{{ inventory_hostname }}"
server = true
bootstrap_expect = 3
data_dir = "/var/lib/consul"
bind_addr = "{{ ansible_host }}"
client_addr = "0.0.0.0"

retry_join = ["192.168.122.91", "192.168.122.92", "192.168.122.93"]

ui_config {
  enabled = true
}

connect {
  enabled = true
}

ports {
  dns = 8600
  http = 8500
  serf_lan = 8301
  serf_wan = 8302
  server = 8300
}

dns_config {
  allow_stale = true
  max_stale = "15s"
}
